<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
          crossorigin="anonymous">
    <title>List rendering on Vue.js</title>
</head>
<body>
    
    <div id="app">
        <h2>List</h2>
        <ul>
            <li v-for="user in user_list">{{ user }}</li>
        </ul>
        <hr>
        <h2>Number 1 to 10</h2>
        <ul>
            <p v-for="number in 10">{{ number }}</>
        </ul>
        <hr>
        <h2>More complex list</h2>
        <div class="card" v-for="user in users" :key="user.id">
            <div class="card-body">
                <p class="card-text"><strong>Name: </strong>{{ user.name }}</p>
                <p class="card-title"><strong>Profession: </strong>{{ user.profession }}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>