<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
          crossorigin="anonymous">
    <title>Forms and inputs on Vue.js</title>
</head>
<body>
    
    <div id="app">
        <div class="row justify-content-center mt-3">
            <form @submit.prevent='onSubmit'>
                <div class="form-group">
                    <label for="commentText">Comment</label>
                    <textarea class="form-control" 
                    id="commentText"
                    cols="80" 
                    rows="5" 
                    v-model='comment'
                    ></textarea>
                </div>
                <button type="submit" class="btn btn-sml btn-primary">Comment!</button>
            </form>
        </div>
        
        <div class="container">
            <p v-if="errors" class="mt-2 text-center">{{ errors }}</p>
        </div>
        
        <div class="container mt-2">
            <div class="card mt-1 col-10" v-for='comment in comments'>
                <div class="card-body">
                    <p>{{ comment }}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>